<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Champ creation</title>
</head>
<body>
<p>Champ create</p>
<form action="#" th:action="@{/createchampion}" th:object="${champion}" method="post">
    <p>Id: <input type="text"  th:name="id" /></p>
    <p>Name: <input type="text" th:name="name"   /></p>
    <p>HP: <input type="text" th:name="hp"></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>